<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <!-- Add Vibration Permission Here -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <!-- Start Menu Activity (Launcher) -->
        <activity
            android:name=".StartMenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Start Game Activity -->
        <activity
            android:name=".StartGameActivity"
            android:exported="true" />

        <!-- Leaderboard Activity -->
        <activity
            android:name=".LeaderboardActivity"
            android:exported="true" />

    </application>

</manifest>
